html,
body {
  font-family: Courier, monospace;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  overflow-y: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  opacity: 0;
  transition: opacity ease-in 0.6s;
}

body.loaded {
  opacity: 1;
}

select {
  -webkit-appearance: none;
}

.ui.button {
  width: 80px;
  padding-left: 15px;
}

/*===================================*/
main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.content {
  /* flex item */
  flex: 6;
  /* flex container */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
/*===================================*/

.controls {
  /* flex item */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10em;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #aaa;
  overflow-y: auto;
}
.controls .files {
  margin-bottom: 10px;
}
.controls .files .grouped.fields {
  text-align: left;
}
.controls .files .ui.radio label {
  word-break: break-all;
  text-align: left;
}
.controls .checkmark.icon {
  margin: 0;
}
.controls .inputs.icon {
  display: none;
}
.controls .title.info.field {
  text-decoration: underline;
}
.controls .info.field {
  text-align: left;
}
.controls .status.field {
  white-space: nowrap;
}
.controls .info.field .ui.checkbox {
  width: 100%;
}
.controls span.smaller {
  font-size: 0.9em;
}
.controls .run-stats {
  font-size: 0.9em;
  padding-left: 20px;
}
.controls .version {
  color: #ccc;
  text-align: right;
  margin: 25px 0 10px 0;
  font-size: 0.8em;
}
.controls .version a {
  color: #ccc;
}

.messages {
  padding-top: 30px;
}
.ui.message {
  text-align: center;
}
.ui.checkbox label {
  cursor: pointer;
}
.ui.form .field {
  margin: 0 0 0.5em;
}

/*===================================*/

.CodeMirror {
  height: 100%;
  width: 100%;
}

.CodeMirror .cm-out {
  color: #001dbf;
}

.CodeMirror .cm-err {
  color: #a50000;
}

.CodeMirror .cm-agent {
  color: #666;
}

.CodeMirror .CodeMirror-vscrollbar,
.CodeMirror .CodeMirror-hscrollbar {
  transition: opacity ease-in 0.3s;
  opacity: 0;
}

.CodeMirror:hover .CodeMirror-vscrollbar,
.CodeMirror:hover .CodeMirror-hscrollbar {
  opacity: 1;
}

/*===================================*/

.content.panel {
  display: flex;
  /* vertical split */
  flex-direction: column;
}

.content.panel > .subpanel {
  flex: 1;
  position: relative;
}

.content.panel > .subpanel > div {
  flex: 1;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content.panel > .editor.subpanel {
  /* vertical split */
  border-bottom: 1px solid #aaa;
}

/*swap to horizontal split*/
@media (max-height: 300px), (min-width: 1400px) {
  .content.panel {
    flex-direction: row;
  }
  .content.panel > .editor.subpanel {
    border-bottom: none;
    border-right: 1px solid #aaa;
  }
}

.content.panel .editor.subpanel > div {
  background: pink;
}
.content.panel .log.subpanel > div {
  background: cyan;
}

.follow.icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: rgba(238, 238, 238, 0.9);
  padding: 3px;
  height: 23px;
  width: 21px;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  transition: opacity ease 0.3s;
}
.follow.ing.icon {
  opacity: 1;
}
