<!DOCTYPE html>
<html ng-app="webproc">
	<head>
		<title ng-bind="data.Config.ProgramArgs[0]">webproc</title>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<i class="lock follow icon"></i>
		<section class="controls">
			<div class="ui form">
				<h1 class="title" ng-bind="data.Config.ProgramArgs[0]">webproc</h1>
				<div class="ui title info field">
					Status
				</div>
				<div class="ui info status field">
					<i class="lightning icon" ng-class="connected ? 'green' : 'red'"></i>
					<span ng-bind="connected ? 'Connected' : 'Disconnected'"
						ng-click="reconnect()"
						>Disconnected</span>
					<div ng-show="connected">
						<i class="checkmark icon" ng-class="data.Running ? 'green' : 'red'"></i>
						<span ng-bind="data.Running ? 'Running' : 'Exited'">Exited</span>
					</div>
					<div class="run-stats" ng-show="connected && data.Running">
						<div><b>for</b> <span ago="data.Uptime"></span></div>
						<div><b>pid</b> {{ data.Pid }}</div>
					</div>
				</div>
				<div ng-show="files.length > 1">
					<div class="ui title info field">
						Files
					</div>
					<div class="ui field">
						<select class="ui button" ng-options="f for f in files" ng-model="inputs.file"></select>
					</div>
				</div>
				<div class="ui title info field">
					Logging
				</div>
				<div class="ui info field">
					<div class="ui checkbox">
						<input type="checkbox" id="logout" ng-model="inputs.show.out">
						<label for="logout">stdout</label>
					</div>
					<div class="ui checkbox">
						<input type="checkbox" id="logerr" ng-model="inputs.show.err">
						<label for="logerr">stderr</label>
					</div>
					<div class="ui checkbox">
						<input type="checkbox" id="logagent" ng-model="inputs.show.agent">
						<label for="logagent">agent</label>
					</div>
				</div>
				<div class="ui field">
					<button class="ui button"
						ng-click="reload()" ng-class="{
							loading: reload.ing, disabled: reload.ed || !connected,
							primary: !reload.ed, green:   reload.ed
						}">Reload{{reload.ed?'ed':''}}</button>
				</div>
				<div id="err" class="ui negative message" ng-show="reload.err">{{ reload.err }}</div>
			</div>
		</section>
		<main class="content">
			<div class="editor container">
				<div id="editor"></div>
			</div>
			<pre class="log container" ng-class="{out:inputs.show.out, err:inputs.show.err, agent:inputs.show.agent}"></pre>
		</main>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.4/ace.js" charset="utf8"></script>
		<script src="js/velox.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
